<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Du Song</string>
	<key>Builder Version</key>
	<string>8536.26.14</string>
	<key>CFBundleDisplayName</key>
	<string>Tab Mix</string>
	<key>CFBundleIdentifier</key>
	<string>org.rollingcode.app.safari.tabmix</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>52428800</real>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>start.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Remember and automatically restore window group and size for every website.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://nodeload.github.com/freewizard/SafariTabMix/master/Update.plist</string>
	<key>Website</key>
	<string>http://www.rollingcode.org/</string>
</dict>
</plist>
